.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}
