// @use "sass:math";
@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

// applies base styles to elements
@mixin elr-base($config: ()) {
  $config: extend(
    (
      link-color: $primary-color,
      text-color: $text-color,
      border-radius: $border-radius,
      base-font: $base-fontsize,
    ),
    $config
  );

  $link-color: map-get($config, link-color);
  $text-color: map-get($config, text-color);
  $border-radius: map-get($config, border-radius);
  $base-font: map-get($config, base-font);

  ul,
  ol {
    margin: 0;
    padding: 0;
    padding-left: $base-font * 2;
  }

  li,
  dd,
  dt {
    margin: 0;
    padding: $base-font * 0.5 0;
    color: $text-color;
  }

  dl {
    padding: 0;
    margin: 0;
  }

  dt {
    font-weight: 700;
    padding-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $base-font;
    margin: 0;
    padding: $base-font * 0.75 0;
    font-weight: 500;
    line-height: 1.2;
    color: $text-color;
  }

  h1,
  .h1 {
    font-size: $h1-fontsize;
  }

  h2,
  .h2 {
    font-size: $h2-fontsize;
  }

  h3,
  .h3 {
    font-size: $h3-fontsize;
  }

  h4,
  .h4 {
    font-size: $h4-fontsize;
  }

  h5,
  .h5 {
    font-size: $h5-fontsize;
  }

  h6,
  .h6 {
    font-size: $h6-fontsize;
  }

  mark {
    background-color: $link-color;
    color: $white;
    display: inline-block;
    padding: $base-font * 0.25;
    margin: $base-font * 0.175 0;
  }

  p {
    font-size: $base-font;
    margin: 0;
    padding: 0 0 $base-font * 0.75;
    color: $text-color;

    @media (max-width: $mobile-width) {
      font-size: $base-font - 2;
    }
  }

  small {
    font-size: $base-font - 4;
    color: $text-color;
  }

  blockquote {
    margin: 0;
    padding: $base-font * 0.75;
    font-style: italic;
    color: $text-color;
  }

  cite {
    font-style: normal;
    color: $text-color;
    display: block;
  }

  pre {
    display: block;
    padding: $base-font * 0.75;
    border-radius: $border-radius;
    background-color: $lightest-gray;
    color: $text-color;
    width: 80%;
    font-size: 14px;
    margin-top: $base-font;
    margin-bottom: $base-font;
    white-space: pre-wrap;
    word-wrap: break-word;

    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  a {
    text-decoration: underline;
    color: $link-color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: $border;
    margin: 1em 0;
    padding: 0;
    width: 100%;
  }

  input,
  select,
  textarea,
  fieldset {
    // font-family: $font-family;
    font-size: $base-font;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    color: $text-color;
  }

  label {
    vertical-align: middle;
  }

  input[type="text"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    height: 30px;
    padding: $base-font * 0.75;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
  }

  select,
  textarea {
    line-height: 1.75;
  }

  textarea {
    padding: $base-font * 0.75;
  }

  select:not([multiple]) {
    // height: 30px;
    vertical-align: middle;
    padding: 0 $base-font * 0.75;
  }

  button {
    cursor: pointer;
  }
}
