@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5) ($base-fontsize * 1.5) ($base-fontsize * 3);
}

.main-heading,
.subheading,
.section-heading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.section-heading {
  margin-top: $base-fontsize * 2;
  font-size: $base-fontsize * 1.25;
  font-weight: 900;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
}

@include elr-base;
